/* styles for star wars list of characters */
.main {
    display: flex;
    justify-content: center;
}

.list, .displayData {
    box-shadow:0 0 1em rgba(0,0,0,.25);
    box-sizing:border-box;
    text-align:center;
}

.list {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1.2em 0 0 1.2em;
}
    .arrow {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 60% 8px 0;
        font-size: 1.2rem;
        font-weight: bold;
    }
        .arrow:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }
        .left {
            border-radius: 1em 0 0 1em;
        }
        
    .list ul {
        list-style: none; 
        padding: 3vmin;
        margin: 0;
    }
        .list li {
            padding: 5px;
            font-weight: bolder;
        }

.displayData {
    background-color: rgba(240, 240, 240, 0.75);  
    border-radius: 0 1em 1em 0;
    padding: 3vmin;
}
    h4 { 
        margin: 0;
        padding: 0;
    }
    .displayData p {
        text-align: left;
    }